<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="content-container">
    <h1>Register</h1>
    <div class="form-container register-container">
        <form th:action="@{/register}" th:object="${customUser}" method="post" class="registration-form">
            <div class="form-group">
                <label class="form-label" for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" placeholder="Email" required class="form-input"/>
            </div>
            <div class="error">
                <span th:if="${emailExists}" class="error-message" th:text="${emailExists}">Email error message</span>
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" placeholder="Password" required
                       class="form-input"/>
            </div>
            <button type="submit" class="register-button">Register</button>
        </form>
        <a href="/login" class="register-button">Back to Login</a>
    </div>
</div>
</body>
</html>