<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="content-container">

    <h1 th:text="${book.name}">Book Title</h1>

    <div class="book-details">
        <p th:text="'Author: ' + ${book.authors}"></p>
        <p th:text="'ISBN: ' + ${book.isbn}"></p>
        <p th:text="'Country of Origin: ' + ${book.countryOfOrigin}"></p>
        <p th:text="'Date: ' + ${book.date}"></p>
        <p th:text="'Publisher: ' + ${book.publisher}"></p>
        <p th:text="'Numbers of Pages: ' + ${book.numberOfPages}"></p>
    </div>

    <div class="button-container">
        <a th:href="@{/}" class="view-books-button">Back to Main Page</a>
        <a th:href="@{/books}" class="view-books-button">Back to Book List</a>
    </div>
</div>

</body>
</html>