<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="content-container">
    <h1>Welcome to the Realm of Ice and Fire</h1>
    <div class="intro">
        Explore the epic world of Westeros through the detailed works of George R. R. Martin.
    </div>
    <div class="button-container">
        <a th:href="@{/books}" class="view-books-button">View Book List</a>
    </div>
</div>

</body>
</html>
